.wrap{
    width:100%;
}
/*导航*/
.header{
    padding:0;
    width: 100%;
    height:80px;
    border-bottom: 1px solid #ccc;
}
.header .container{
    padding: 0;
    /*width: 1200px;*/
}
.logo{
    background: #004098 !important;
    height:100%;
}
.logo a img{
    width: 64px;
    height:64px;
    margin: 8px auto;
}
.nav{
    height:80px;
}
.nav>ul{
    margin: 10px 0;
}
.nav>ul>li{
    text-align: center;
    color: rgb(4, 89, 209);
    padding: 0;
    position: relative;
    top:0;
    left:0;
}
.nav>ul>li:hover ul{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
    opacity: 1;
    height: auto;
}
.nav>ul>li>ul{
    position: absolute;
    top: 50px;
    left:0;
    margin: 0;
    z-index: 999999;
    overflow: hidden;
    opacity: 0;
    height: 0px;
    transition: all 1s;
}
.nav>ul>li>ul>li>a{
    transition: all 1s;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #9d9d9d;
    color: white;
}
.erji{
    width: 100%;
}

.nav ul li a{
    display: block;
    padding: 8px;
}
.nav ul li a:hover{
    text-decoration: none;
}
.nav ul li span,.nav ul li em{
    display: block;
    font-style: normal;
}
.nav ul li span{
    font-size: 16px;
}
.nav ul li em{
    font-size: 12px;
    /*line-height: 1.42em;*/
    color: rgb(160, 160, 160);
}
.nav ul li .active{
    color: rgb(4, 89, 209);
}
.nav ul li .active em{
    color: inherit;
    opacity: 0.5!important;
}

/*内容*/
.qy{
    padding: 50px 0;
}
.container>.qiye>ul{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>.qiye>ul>li{
    float: left;
    margin: 0 20px;
}
.container>.qiye>ul>.active a{
    background-color: #004098;
    border:1px solid #004098;
    color: #fff;
}
.container>.qiye>ul>li a{
    padding: 10px 40px;
    background-color: #f9f9f9;
    color: #000;
    font-size: 18px;
    border:1px solid #ccc;
    transition: all .6s;
}
.container>.qiye>ul>li a:hover{
    background-color: #004098;
    border:1px solid #004098;
    color: #fff;

}



/*yuyue*/
.c_bottom{
    padding-top: 30px;
}
.c_bottom .yuyue>div{
    overflow: hidden;
    padding-bottom: 20px;
}
.c_bottom .yuyue .yu_left{
    padding-top: 50px;
    text-align: center;
}
.c_bottom .yuyue .yu_left::after{
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #004098;
    margin: 20px auto;
    transition: all 1s;
}
.c_bottom .yuyue .yu_left:hover:after{
    width: 80%;
}
.c_bottom .yuyue .yu_left img{
    width: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    float: none;
}
.c_bottom .yuyue .yu_left p{
    color: #e0e0e0;
}
.c_bottom .yuyue .yu_input input{
    width: 80%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 5px;
}
.c_bottom .yuyue .yu_input select{
    height: 40px;
    padding: 0 10px;
    width: 80%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_input [type='button']{
    background: #fff;
    border: 1px solid #004098;
    width: 50%;
    color: #004098;
    transition: all 1s;
    margin: 20px 10% 0;
}
.c_bottom .yuyue .yu_input [type='button']:hover{
    background: #004098;
    color: white;
}
.c_bottom .yuyue .yu_right img{
    width: 60%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_right p{
    text-align: center;
}

/*banner*/
.banner{
    width: 100%;
    position: relative;
    top:0;
    left:0;
    overflow: hidden;
}
.banner .banner_con .imgBox{
    padding-top: 10px;
}
.banner .banner_con .imgBox img{
    margin-top:-36%;
}
.banner .banner_con .con:nth-child(2){
    width: 30%;
    top: 30px;
}
.banner .banner_con .con:nth-child(3){
    width: 40%;
    top: 75px;
}
.banner .banner_con .con{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}
.banner .banner_con .imgBox div{
    width: 100%;
    height:100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
}
.banner .banner_con .imgBox div img{
    opacity:0;
}
.zhiwei .imgBox{
    overflow: hidden;
}
.zhiwei .title img{
    width: 50%;
    margin: 30px auto;
}
.zhiwei .imgBox ul li img{
    margin-top:20px;
}
.nb .bg_wrap{
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
    top: 0;
    left:0;
}
.nb .bg_wrap .bg_con>img{
    margin-top: -20%;
}
.nb .bg_wrap .bg_con p{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}
.nb .bg_wrap .bg_con p img{
    width: 100%;
    height:100%;
    opacity: 0;
}
.nb .bg_wrap>.container{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    padding-top: 40px;
}
.nb .bg_wrap>.container>ul{
    margin-bottom: 20px;
    overflow: hidden;
}
.hh .bg{
    padding: 40px 0 20px;
    background-image: url("../img/3917_j0an04w6.png");
}
.hh .bg img{
    width: 60%;
    margin: 0 auto 50px;
}
.hh .bg img:last-child{
    width: 80%;
}