.wrap{
    width:100%;
}
/*导航*/
.header{
    padding:0;
    width: 100%;
    height:80px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.header .container{
    padding: 0;
    /*width: 1200px;*/
}
.logo{
    background: #004098 !important;
    height:100%;
}
.logo a img{
    width: 64px;
    height:64px;
    margin: 8px auto;
}
.nav{
    height:80px;
}
.nav ul{
    overflow: hidden;
    margin: 10px 0;
}
.nav ul li{
    text-align: center;
    color: rgb(4, 89, 209);
    vertical-align: middle;
    padding: 0;
}
.nav ul li a{
    display: block;
    overflow: hidden;
    padding: 8px;
}
.nav ul li a:hover{
    text-decoration: none;
}
.nav ul li span,.nav ul li em{
    display: block;
    font-style: normal;
}
.nav ul li span{
    font-size: 16px;
}
.nav ul li em{
    font-size: 12px;
    color: rgb(160, 160, 160);
}
.nav ul li .active{
    color: rgb(4, 89, 209);
}
.nav ul li .active em{
    color: inherit;
    opacity: 0.5!important;
}

/*内容*/
.qy{
    padding: 50px 0;
}
.container>.qiye>ul{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>.qiye>ul>li{
    float: left;
    margin: 0 20px;
}
.container>.qiye>ul>.active a{
    background-color: #004098;
    border:1px solid #004098;
    color: #fff;
}
.container>.qiye>ul>li a{
    padding: 10px 40px;
    background-color: #f9f9f9;
    color: #000;
    font-size: 18px;
    border:1px solid #ccc;
    transition: all .6s;
}
.container>.qiye>ul>li a:hover{
    background-color: #004098;
    border:1px solid #004098;
    color: #fff;

}



/*yuyue*/
.c_bottom{
    padding-top: 30px;
}
.c_bottom .yuyue>div{
    overflow: hidden;
    padding-bottom: 20px;
}
.c_bottom .yuyue .yu_left{
    padding-top: 50px;
    text-align: center;
}
.c_bottom .yuyue .yu_left::after{
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #ff6700;
    margin: 20px auto;
    transition: all 1s;
}
.c_bottom .yuyue .yu_left:hover:after{
    width: 80%;
}
.c_bottom .yuyue .yu_left img{
    width: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    float: none;
}
.c_bottom .yuyue .yu_left p{
    color: #e0e0e0;
}
.c_bottom .yuyue .yu_input input{
    width: 80%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 5px;
}
.c_bottom .yuyue .yu_input select{
    height: 40px;
    padding: 0 10px;
    width: 80%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_input [type='button']{
    background: #fff;
    border: 1px solid #c7254e;
    width: 50%;
    color: #c7254e;
    transition: all 1s;
    margin: 20px 10% 0;
}
.c_bottom .yuyue .yu_input [type='button']:hover{
    background: #c7254e;
    color: white;
}
.c_bottom .yuyue .yu_right img{
    width: 60%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_right p{
    text-align: center;
}

.main{
    position: relative;
    top:0;
    left:0;
}
.main .bg>p{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.26);
}
.main .bg>p>img{
    opacity: 0;
}
.main .bg .wenzi{
    position: absolute;
    top:0;
    margin: 0 auto;
    left:0;
    right:0;
    padding:  20px 0 0 0 ;
}
dd,dt{
    line-height: inherit;
}
.main .bg .wenzi>div{
    margin-bottom: 20px;
}
.main .bg .wenzi>div>.con{
    background-color: #fff;
    font-size: 14px;
    line-height: 1.7;
    padding: 20px 20px 10px;
}
.main .bg .wenzi div dt{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 4px;
}