.wrap{
    width:100%;
}
/*导航*/
.header{
    padding:0;
    width: 100%;
    height:80px;
    border-bottom: 1px solid #ccc;
}
.header .container{
    padding: 0;
    /*width: 1200px;*/
}
.logo{
    background: #004098 !important;
    height:100%;
}
.logo a img{
    width: 64px;
    height:64px;
    margin: 8px auto;
}
.nav{
    height:80px;
}
.nav>ul{
    margin: 10px 0;
}
.nav>ul>li{
    text-align: center;
    color: rgb(4, 89, 209);
    padding: 0;
    position: relative;
    top:0;
    left:0;
}
.nav>ul>li:hover ul{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
    opacity: 1;
    height: auto;
}
.nav>ul>li>ul{
    position: absolute;
    top: 50px;
    left:0;
    margin: 0;
    z-index: 999999;
    overflow: hidden;
    opacity: 0;
    height: 0px;
    transition: all 1s;
}
.nav>ul>li>ul>li>a{
    transition: all 1s;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #9d9d9d;
    color: white;
}
.erji{
    width: 100%;
}

.nav ul li a{
    display: block;
    padding: 8px;
}
.nav ul li a:hover{
    text-decoration: none;
}
.nav ul li span,.nav ul li em{
    display: block;
    font-style: normal;
}
.nav ul li span{
    font-size: 16px;
}
.nav ul li em{
    font-size: 12px;
    /*line-height: 1.42em;*/
    color: rgb(160, 160, 160);
}
.nav ul li .active{
    color: rgb(4, 89, 209);
}
.nav ul li .active em{
    color: inherit;
    opacity: 0.5!important;
}

/*内容*/
/*内容导航栏*/
.content{
    background:rgb(249, 249, 249);
}
.content .con{
    padding:0;
}
.content .con_nav ul{
    overflow: hidden;
    padding-top: 37px;
    padding-bottom: 29px;
}
.content .con_nav ul li{
    float: left;
    font-size: 12px;
    color: #9d9d9d;
}
.content .con_nav ul li a{
    font-size: 14px;
}
.content .con_nav ul li span{
    margin: 0 5px 0 10px;
}
.content .con_nav ul li:last-child a{
    color: #9d9d9d;
}


/*左侧*/
.content .con_main{
    overflow: hidden;
}
.content .con_main .left{
    float: left;
    border: 2px solid rgb(217, 217, 217);
    padding:12px 12px 12px 0;
    box-sizing: border-box;
}
.content .con_main .left .left_con>ul>li>ul{
    padding-bottom: 10px;
}

.content .con_main .left .left_con>ul>li>ul>li{
    padding: 4px 16px;
    transition: all .7s;
}
.content .con_main .left .left_con>ul>li>ul>li:hover{
    background: #e6e6e6;
}
.content .con_main .left .left_con>ul>li>ul>li a{
    display: block;
    padding: 6px 16px;
}
.content .con_main .left .left_con>ul>li>ul>li>ul{
    display: none;
}
.content .con_main .left .left_con>ul>li>ul>li>ul>li{
    padding: 10px 16px;
    background: #eee;
}
.content .con_main .right{
    float: left;
}
.content .con_main .right>ul{
    overflow: hidden;
}
.content .con_main .right>ul li{
    margin-bottom: 40px;
    transition: all 1s;
    padding: 0;
}
.content .con_main .right>ul li a{
    display: block;
    padding: 6px;
    transition: all 1s;
}
.content .con_main .right>ul li a div{
    overflow: hidden;
}
.content .con_main .right>ul li a p{
    text-align: center;
    margin-top: 20px;
}
.content .con_main .right>ul li a:hover{
    padding: 0;

}
.content .con_main .right>ul li a div img{
    transform: scale(1);
    transition: all .5s;
}
.content .con_main .right>ul li a:hover img{
    transform: scale(1.2);
}
.content .con_main .right .qiehuan ul{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}
.content .con_main .right .qiehuan ul li{
    float: left;
    margin: 0 10px;

}
.content .con_main .right .qiehuan ul li a{
    width: 50px;
    height: 30px;
    display: block;
    float: left;
    background: #fff;
    line-height: 30px;
    margin: 0 6px;
    text-align: center;
    border:1px solid #9d9d9d;
    color: #000;
}
.content .con_main .right .qiehuan ul li .active{
    background: #23527c;
    color: white;
}
.content .con_main .right .qiehuan ul li span{
    width: 50px;
    height: 30px;
    display: block;
    text-align: center;
    background: #fff;
    line-height: 30px;
    border:1px solid #9d9d9d;
}

/*yuyue*/
.c_bottom{
    padding-top: 50px;
}
.c_bottom .yuyue>div{
    overflow: hidden;
    padding-bottom: 20px;
}
.c_bottom .yuyue .yu_left{
    padding-top: 50px;
    text-align: center;
}
.c_bottom .yuyue .yu_left::after{
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #004098;
    margin: 20px auto;
    transition: all 1s;
}
.c_bottom .yuyue .yu_left:hover:after{
    width: 80%;
}
.c_bottom .yuyue .yu_left img{
    width: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    float: none;
}
.c_bottom .yuyue .yu_left p{
    color: #e0e0e0;
}
.c_bottom .yuyue .yu_input input{
    width: 80%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 5px;
}
.c_bottom .yuyue .yu_input select{
    height: 40px;
    padding: 0 10px;
    width: 80%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_input [type='button']{
    background: #fff;
    border: 1px solid #004098;
    width: 50%;
    color: #004098;
    transition: all 1s;
    margin: 20px 10% 0;
}
.c_bottom .yuyue .yu_input [type='button']:hover{
    background: #004098;
    color: white;
}
.c_bottom .yuyue .yu_right img{
    width: 60%;
    margin: 0 auto;
}
.c_bottom .yuyue .yu_right p{
    text-align: center;
}

